<h4>Invite someone to this event</h3>

<%= form_with(model: [event, Invitation.new]) do |form| %>
  <%= form.collection_select(:invitee_id, @inviteable_users, :id, :email, options = {}, html_options = {}) %>
  <%= form.datetime_field(:expires_at, value: @event.datetime) %>

  <div>
    <%= form.submit "Send invitation" %>
  </div>
<% end %>
